body {
    font-family: sans-serif;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 10px #bbb;
    height: 3.3rem;
    order: 1;
    width: 100%;
}

.header .menu {
    display: block;
}

.header .title-logo {
    display: flex;
    padding: 5px 5px 5px 5px;
    align-items: center;
}

.header .title-logo .logo {
    height: 100%;
    width: 3rem;
    padding-right: 5px;
}

.header .title-logo .title {
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar {
    height: 3rem;
    width: 100%;
    order: 2;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}

.navbar div {
    color: #3c3c3c;
    font-weight: bold;
}

.jumbotron {
    position: relative;
    order: 2;
    width: 100%;
}

.jumbotron .img-div {
    width: 100%;
    height: 350px;
    background-image: url("/images/dog.jpg");
    background-position: center;
    background-size: cover;
}

.jumbotron .jumbo-inner-text {
    position: absolute;
    color: white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.60);
    bottom: 0;
    left: 0;
}

.jumbotron .jumbo-inner-text .jumbo-header {
    padding: 10px 10px 0px 10px;
    font-size: 1rem;
    font-weight: bold;
}

.jumbotron .jumbo-inner-text .jumbo-desc {
    padding: 5px 10px 5px 10px;
    font-size: 0.8rem;
}

.jumbotron .jumbo-inner-text h4, .jumbotron .jumbo-inner-text p {
    padding: 0px 5px 0px 5px;
}

.weather-widget {
    margin-top: 20px;
    order: 5;
    width: 100%;
}

.weather-widget .city-name {
    padding-left: 10px;
}

.weather-widget .city-name h4 {
    margin-bottom: 5px;
}

.weather-widget .city-name p {
    margin-top: 5px;
}

.weather-widget .weather-bar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.weather-widget .weather-bar {
    text-align: center;
}

.weather-widget .current-weather {
    display: flex;
}

.weather-widget .current-weather .temp {
    font-size: 2rem;
    font-weight: bold;
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 800px) and (max-device-width: 992px) {
    .navbar {
        display: flex;
    }
    .header .menu {
        display: none;
    }
    .jumbotron {
        width: 55%;
    }
    .jumbotron .img-div {
        width: 100%;
        height: 350px;
    }
    .jumbotron .jumbo-inner-text {
        width: 100%;
        color: white;
        background-color: rgba(0, 0, 0, 0.70);
        bottom: 0;
        left: 0;
    }
    .weather-widget {
        margin: 10px 15px 10px 15px;
        order: 3;
        width: 40%
    }
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 993px) {
    .navbar {
        display: flex;
    }
    .header .menu {
        display: none;
    }
    body {
        margin: 0px 30px 0px 30px;
    }
    .jumbotron {
        position: initial;
        width: 100%;
    }
    .jumbotron .jumbo-inner-text {
        position: initial;
        border-left: 1px solid #ababab;
        border-right: 1px solid #ababab;
        color: #ababab;
        background-color: white;
    }
    .jumbotron .img-div {
        width: 100%;
        height: 350px;
        background-image: url("/images/dog.jpg");
        background-position: center;
        background-size: cover;
    }
    .jumbotron .jumbo-inner-text {
        width: 100%;
    }
    .weather-widget {
        width: 100%;
    }
}

.heading-2 {
    font-weight: bold;
    font-size: 1.2rem;
    color: #3c3c3c;
    padding-left: 10px;
    padding-top: 10px;
}

.more {
    padding-top: 10px;
    padding-right: 10px;
    color: #3c3c3c;
}

.top-news-list {
    margin-top: 15px;
    order: 3;
    width: 100%;
}

.title-section {
    display: flex;
    justify-content: space-between
}

.news-list {
    list-style-type: none;
    padding: 0px 15px 5px 15px;
    margin-top: 0;
}

.news-list li {
    color: #3c3c3c;
    border-bottom: 1px solid #aaa;
    font-size: 0.8rem;
    padding-bottom: 5px;
    padding-top: 5px;
}

.scores-table {
    width: 100%;
    margin-top: 15px;
    border-spacing: 0px;
    order: 4;
}

.scores-table thead {
    background-color: #78909c;
}

.scores-table td {
    padding: 10px;
}

.scores-table tbody tr:nth-child(odd) {
    background-color: #eceff1
}

.scores-table thead th {
    padding: 10px;
    color: white;
    border: none;
}

.latest-news-list {
    margin-top: 15px;
    order: 5;
}

.latest-news-img {
    width: 150px;
    float: left;
    padding-right: 10px;
}

.latest-news-text {
    height: 30%
}

.latest-news-text h4, .latest-news-text p {
    color: #3c3c3c;
}

.footer {
    height: 3.3rem;
    order: 9;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0px 5px 10px #ccc;
}